$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;



$color-glow: #f18701;
$color-orange: rgba(144, 52, 60, 1);
$color-orange-light: rgba(176, 64, 73, 1);
$color-blue: rgba(60, 60, 141,1);
$color-violet: rgba(80, 58, 121, 1);
$color-violet-light: #634896;
$color-blue-light: #7c8bea;
$color-grey-bg: #212121;
$color-accent-blue: rgba(101,102,245,1);



$color-white:#fff;
$color-black: #000;

$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;